.App {
  background-image: url('');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}